@import "./index.scss";

body {
	@include size(100vw, 100vh);
	background-color: $color-darkblue;
	overflow: hidden;
	color: $color-white;

	&::-webkit-scrollbar {
		width: 0.2em;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color-white;
	}

	.wrapper {
		background-image: url("./assets/background-stars.svg");
		@include size(100vw, 100vh);
		overflow: hidden;

		&::-webkit-scrollbar {
			width: 0.2em;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $color-white;
		}
	}
}

#planet {
	@include size(100%, 100%);
	max-height: calc(100vh - 80px);
	overflow: auto;
	position: absolute;
	bottom: 0;

	&::-webkit-scrollbar {
		width: 0.2em;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $color-white;
	}

	#planet-content {
		@include flex(start, center, 0, column);
		width: 100%;
		aspect-ratio: 1/1;

		#planet-image {
			@include flex(center, center);
			width: 100%;
			position: relative;

			.geology {
				@include size(100px, auto);
				position: absolute;
				bottom: 5rem;
			}
		}

		#planet-info {
			p {
				color: $color-text;
				line-height: 22px;
			}

			.link {
				@include size(50%, 52px);

				a {
					@include flex(start, center, 0.25rem);
					color: $color-text;
					letter-spacing: 1.93px;
					font-weight: 700;
				}
			}
		}

		#planet-stats {
			.stat {
				h3 {
					color: $color-text;
					font-size: 10px;
					line-height: 16px;
					letter-spacing: 0.73px;
					font-weight: 400;
				}

				h2 {
					font-size: 20px;
					letter-spacing: -0.75px;
				}
			}
		}
	}
}

@media screen and (min-width: 679px) and (max-width: 1024px) {
	#planet {
		max-height: calc(100% - 120px);
	}
	.mobile-tabs {
		display: none;
	}

	#planet-info {
		@include size(50%, 100%);
		@include flex(start, start, 1rem, column);

		p {
			text-align: left;
			max-width: 90%;
			font-size: 11px;
		}

		.link {
			@include flex(start, center, 1rem);
		}
	}

	.tabs {
		@include size(50%, 100%);
		@include flex(center, center, 0.75rem, column);

		button {
			cursor: pointer;
			position: relative;
			background-color: transparent;
			letter-spacing: 1.93px;
			font-size: 9px;
			font-weight: 700;
			text-transform: uppercase;
			color: $color-text;
			outline: 1px solid rgba(white, 0.2);
			outline-offset: -1px;
			border: none;
			padding-inline: 1rem;
			@include size(281px, 40px);
			@include flex(start, center, 1rem);
			&:hover {
				color: $color-white;
				background-color: rgba(white, 0.2);
				outline: 1px solid rgba(white, 0);
			}

			span {
				font-weight: 700;
				font-size: 12px;
				letter-spacing: 2.57px;
				text-transform: uppercase;
				line-height: 25px;
				color: rgba(white, 0.5);
			}

			&#active {
				@include transition(background-color);
				outline: none;
			}
		}
		&#Mercury button#active {
			background-color: $color-mercury;
		}

		&#Venus button#active {
			background-color: $color-venus;
		}

		&#Earth button#active {
			background-color: $color-earth;
		}

		&#Mars button#active {
			background-color: $color-mars;
		}

		&#Jupiter button#active {
			background-color: $color-jupiter;
		}

		&#Saturn button#active {
			background-color: $color-saturn;
		}

		&#Uranus button#active {
			background-color: $color-uranus;
		}

		&#Neptune button#active {
			background-color: $color-neptune;
		}
	}

	#planet-stats {
		@include size(100%, fit-content);
		@include flex(start, center, 1rem);
		margin-block: 1.5rem;
		padding: 0rem 2.5rem;

		.stat {
			border: 1px solid rgba(white, 0.2);
			@include flex(space-between, start, 0.5rem, column);
			@include size(100%, 100%);
			padding: 1rem;
		}
	}

	#planet-parent-info {
		@include flex(start, center, 1rem);
		margin-inline: 3rem;
	}

	#planet-image {
		aspect-ratio: 3/2;
	}

	img#Mercury {
		width: 184px;
		aspect-ratio: 1/1;
	}

	img#Venus {
		width: 253px;
		aspect-ratio: 1/1;
	}

	img#Earth {
		width: 285px;
		aspect-ratio: 1/1;
	}

	img#Mars {
		width: 213px;
		aspect-ratio: 1/1;
	}

	img#Jupiter {
		width: 369px;
		aspect-ratio: 1/1;
	}

	img#Saturn {
		width: 422px;
		aspect-ratio: 1/1;
	}

	img#Uranus {
		width: 290px;
		aspect-ratio: 1/1;
	}

	img#Neptune {
		width: 285px;
		aspect-ratio: 1/1;
	}
}

@media screen and (max-width: 679px) {
	#planet-stats {
		@include size(100%, fit-content);
		@include flex(start, center, 0.5rem, column);
		margin-block: 1.5rem;

		.stat {
			border: 1px solid rgba(white, 0.2);
			@include flex(space-between, center);
			@include size(80%, 52px);
			padding: 0 1rem;
		}
	}

	#planet-info {
		@include flex(start, center, 1rem, column);

		p {
			text-align: center;
			max-width: 80%;
		}

		.link {
			@include flex(space-evenly, center);
		}
	}

	.tabs {
		display: none;
	}

	.mobile-tabs {
		@include size(100%, 52px);
		@include flex(space-around, center);
		border-bottom: 1px solid rgba(white, 0.2);

		button {
			cursor: pointer;
			position: relative;
			border: none;
			background-color: transparent;
			letter-spacing: 1.93px;
			font-size: 9px;
			font-weight: 700;
			text-transform: uppercase;
			color: $color-text;
			@include size(fit-content, 100%);

			&:hover,
			&:focus {
				color: $color-white;
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				@include transition(background-color);
				@include size(100%, 5px);
			}
		}

		&#Mercury button#active::after {
			background-color: $color-mercury;
		}

		&#Venus button#active::after {
			background-color: $color-venus;
		}

		&#Earth button#active::after {
			background-color: $color-earth;
		}

		&#Mars button#active::after {
			background-color: $color-mars;
		}

		&#Jupiter button#active::after {
			background-color: $color-jupiter;
		}

		&#Saturn button#active::after {
			background-color: $color-saturn;
		}

		&#Uranus button#active::after {
			background-color: $color-uranus;
		}

		&#Neptune button#active::after {
			background-color: $color-neptune;
		}
	}

	#planet-image {
		aspect-ratio: 1/1;
	}

	img#Mercury {
		width: 111px;
		aspect-ratio: 1/1;
	}

	img#Venus {
		width: 154px;
		aspect-ratio: 1/1;
	}

	img#Earth {
		width: 173px;
		aspect-ratio: 1/1;
	}

	img#Mars {
		width: 129px;
		aspect-ratio: 1/1;
	}

	img#Jupiter {
		width: 224px;
		aspect-ratio: 1/1;
	}

	img#Saturn {
		width: 256px;
		aspect-ratio: 1/1;
	}

	img#Uranus {
		width: 176px;
		aspect-ratio: 1/1;
	}

	img#Neptune {
		width: 173px;
		aspect-ratio: 1/1;
	}
}
